@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.max-w-md {
  max-width: 28rem;
}

button:focus {
  outline: 2px solid rgb(59, 130, 246);
  outline-offset: 2px;
}
